@model BucadorDetalles

<form method="post">
    <select name= "idComic">
        @foreach (Comic comic in Model.comics)
        {
            <option value="@comic.IdComic">@comic.Nombre</option>
        }
    </select>
	<button class="btn btn-dark">Buscar Comic</button>

    @if(Model.comic != null)
    {
	<table class="table table-striped-columns">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Imagen</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>@Model.comic.IdComic</td>
					<td>@Model.comic.Nombre</td>
					<td><img src="@Model.comic.Imagen" alt="Imagen de @Model.comic.Nombre" width="250"/></td>
					<td>@Model.comic.Descripcion</td>
				</tr>

		</tbody>
	</table>
    }
</form>